include MANIFEST.in
include LICENSE.txt
include README.md
include setup.py
include inject_css.py

graft paged_html_theme

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.py[cod]
global-exclude .git
global-exclude .ipynb_checkpoints
global-exclude .DS_Store
