{% extends 'basic/layout.html' %}

{% block header %}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width">

        <!-- dynamically load mathjax for compatibility with self-contained -->
    <script data-main="_static/js/load_mathjax.js" src="_static/js/require.js"></script>
    <script data-main="https://unpkg.com/pagedjs/dist/paged.polyfill.js" src="_static/js/require.js"></script>
    <script data-main="_static/js/config.js" src="_static/js/require.js"></script>
    <script data-main="_static/js/paged.js" src="_static/js/require.js"></script>

    <title>Theme</title>
    </head>
</html>
  
{% endblock header %}

{# Omit the top navigation bar. #}
{% block relbar1 %}
{% endblock %}

{# Omit the bottom navigation bar. #}
{% block relbar2 %}
{% endblock %}

{# Omit the sidebar. #}
{% block sidebar1 %}
{% endblock %}
{% block sidebar2 %}
{% endblock %}