{% extends 'basic/layout.html' %}

{% block header %}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <!-- title -->
        <title>Theme Layout</title>

        <!-- metadata -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width">

        <!-- scripts (using requirejs) -->
        <script type="text/javascript" data-main="{{ pathto('_static/js/main', 1) }}" src="{{ pathto('_static/js/require.js', 1) }}"></script>
    </head>
</html>

{% endblock header %}

<!-- remove sidebars -->
{# Omit the top navigation bar. #}
{% block relbar1 %}
{% endblock %}

{# Omit the bottom navigation bar. #}
{% block relbar2 %}
{% endblock %}

{# Omit the sidebar. #}
{% block sidebar1 %}
{% endblock %}
{% block sidebar2 %}
{% endblock %}