/*********************************************
* Print-specific CSS *
*********************************************/
@media print {
    html {
        font-family: sans-serif;
    }

    .page-break {
        break-before: page;
    }

    div.cell_input {
        border: 1px solid #cfcfcf;
        border-radius: 2px;
        background: #f7f7f7;
        line-height: 1.21429em;
        padding-left: 10px
    }

    div.cell_output {
        border: 1px solid #cfcfcf;
        border-radius: 2px;
        background: #f7f7f7;
        line-height: 1.21429em;
        padding-left: 10px;
        margin-top: 10px;
    }
}